@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './base.css';
@import "tailwindcss";


@font-face {
  font-family: 'Visuelt Pro';
  src: url('./fonts/VisueltPro-Bold.ttf') format('ttf'),
       url('./fonts/Visuel-pro.ttf') format('ttf');
}

.font-visuelt {
  font-family: 'Visuelt Pro', sans-serif;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}


#app {

}

